@media screen and (min-width: 800px) {
    h1#title {
        font-size: 1.5rem;
    }
    section#content {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
    div#contentText {
        min-height: 3.2rem;
    }
    div#changeBtnText {
        font-size: 1.5rem;
    }
    img#changeBtnIcon {
        width: 1.5rem;
        display: block;
    }
}