@font-face {
    font-family: 'theSimsSans';
    src: url('../font/thesimssansbold.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 1em;
    font-family: 'theSimsSans', Fallback, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: url('../img/bg_imgs/blank_BG_small.png') no-repeat center;
    background-size: cover;
    color: rgba(25, 25, 25, 0.8)
}


/* 📌📌📌🚨 ----- MAIN ----- */

main#mainContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}


/* 📌📌 title */

section#titleContainer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div#titleBox {
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: flex-start;
    gap: 7.5%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.125rem 0.125rem 1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10rem 0;
}

div#plumbobIconContainer {
    width: 4.5rem;
    margin: 3% 0 0 5%;
    align-self: baseline;
}

img#plumbobIcon {
    width: 100%;
}

h1#title {
    font-size: 1.6rem;
    align-self: center;
}


/* 📌📌 icon bar */

section#iconBarContainer {
    display: none;
}


/* 📌📌 content */

section#contentContainer {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.hidden {
    display: none !important;
}


/* 📌 content box */

div.contentBox {
    width: 80%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

div.contentBoxText {
    width: 100%;
}

div#changeOutfitBox {
    display: flex;
}

div#chooseOutfitBox {
    display: flex;
}


/* 📌 button */

button.glassBtn {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: rgba(117, 171, 74, 0.9);
    background-image: linear-gradient(rgba(117, 171, 74, 0.9), rgba(117, 171, 74, 0.5));
    border-radius: 2rem;
    outline: 0;
    box-shadow: 0 1px 4px -2px #333;
    text-shadow: 0 -1px #333;
    color: #fff;
    font-family: 'theSimsSans', Fallback, sans-serif;
    font-size: 1rem;
}

button.glassBtn::after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.65rem;
    width: calc(100% - 1.3rem);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    border-radius: 6rem;
}

button.glassBtn:hover {
    background: rgba(200, 200, 200, 0.315);
    cursor: pointer;
}

div.btnContentContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

div.btnIconContainer {
    width: 1.25rem;
}

img.btnIcon {
    width: 100%;
}


/* 📌 */

div#chooseOutfitCardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    justify-content: space-evenly;
}

figure.chooseOutfitCard {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    aspect-ratio: 1;
}

button.chooseOutfitBtn {
    padding: 0.3rem 0.5rem;
    border-radius: 1.5rem;
    background-color: rgba(200, 200, 200, 0.315);
    background-image: none;
}

button.chooseOutfitBtn::after {
    left: 0.3rem;
    width: calc(100% - 0.6rem);
    height: 60%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
    border-radius: 6rem;
}

button.chooseOutfitBtn:hover {
    background-color: rgba(117, 171, 74, 0.9);
}

button.chooseOutfitBtn:focus {
    background-color: rgba(117, 171, 74, 0.9);
}

figcaption.chooseOutfitCardCaption {
    font-size: 0.6rem;
}

button#confirmOutfitSelectionBtn {
    font-size: 0.75rem;
}

div#confirmOutfitSelectionBtnIconContainer {
    width: 1rem;
}


/* 📌📌📌🚨 ----- SIDE IMAGES -----  */

aside#sideImgContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}


/* 📌📌 outfit */

section#outfitContainer {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#outfit {
    max-width: 90%;
    height: auto;
    max-height: 90%;
}


/* 📌📌 portrait */

section#portraitContainer {
    width: 60%;
    height: 100%;
}

img#portrait {
    width: 100%;
}


/* 📌📌🚨 ----- ANIMATION ----- */

div#animationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.slideInAnimation {
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}


/* 📌📌🚨 */

section#chosenOutfitBoxContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#chosenOutfitBox {
    width: 100%;
    margin: 5%;
    padding: 2.5%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.125rem 0.125rem 1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}