@media screen and (min-width: 600px) {
    body {
        flex-direction: row;
        background-image: url('../img/blank_BG.png');
    }
    /* 📌📌 ----- MAIN CONTENT ----- */
    main#mainContainer {
        width: 30%;
        height: 100%;
        justify-content: flex-start;
        row-gap: 7.5%;
    }
    /* 📌 title */
    section#titleContainer {
        width: 100%;
        height: 10%;
        margin-bottom: 10%;
        padding-left: 10%;
        column-gap: 2rem;
    }
    div#plumbobIconContainer {
        width: 22%;
        align-self: baseline;
    }
    h1#title {
        font-size: 200%;
    }
    /* 📌 icon bar */
    section#iconBar {
        width: 80%;
        height: 4%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    img.iconBar_icon {
        height: 100%;
    }
    /* 📌 content */
    section#content {
        padding: 5%;
        background-color: rgba(196, 196, 196, 0.3);
        box-shadow: 0.25rem 0.25rem 2rem 2rem rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
    div#contentText {
        min-height: 3.2rem;
    }
    button.glassBtn {
        padding: 1rem 1.5rem;
    }
    button.glassBtn:hover {
        background: rgba(200, 200, 200, 0.315);
        cursor: pointer;
    }
    div#changeBtnText {
        font-size: 1.5rem;
    }
    img#changeBtnIcon {
        width: 1.5rem;
    }
    /* 📌📌 ----- OUTFIT ----- */
    section#outfitContainer {
        width: 30%;
        height: 100%;
    }
    img#outfit {
        max-height: 80%;
    }
    /* 📌📌 PORTRAIT */
    section#portraitContainer {
        width: 40%;
        height: 100%;
        align-items: flex-end;
    }
}